# ROS spesifik
devel/
build/
install/
*.bag
*.bag.active

# Derleme dosyaları
*.o
*.lo
*.la
*.al
*.a
*.so
*.so.*

# Python
__pycache__/
*.pyc

# Gazebo logları
~/.gazebo/log/*

# IDE dosyaları
.vscode/
.idea/
*.swp
